/* 
* root
* Common Css
* Button Css
* Bootstrap css customaize
* Navbar
* Sidebar
* top Item
* Table
* Bread Cump 
* Form 
* Pagination
*
 */

/* Root  */
:root {
  --main-color: #0066ff;
  --secendary-main-color: #3094fa;
  --white-color: #fff;
  --semi-white-color: #f4f5f7;
  --ass-color: #49545c;
  --roboto: "Roboto", sans-serif;
  --roboto-slab: "Roboto Slab", serif;
}

/*============================
 Common Css Start  
 =============================*/
* {
  padding: 0;
  margin: 0;
  outline: 0;
}
html {
  font-size: 14px;
}
body {
  background: var(--semi-white-color);
  color: var(--ass-color);
  font-family: var(--roboto);
  font-weight: 400;
  overflow: hidden;
  position: relative;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.mandatory {
  color: red;
}

.hide {
  display: none;
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxx
 Common Css End 
 xxxxxxxxxxxxxxxxxxxxxxxxxxx*/

/*============================ Button pert start   =============================*/
.btn {
  font-family: var(--roboto);
  font-size: 12px;
  color: var(--white-color);
  border-radius: 5px;
  background: #017e84;
  margin: 0 2px;
  padding: 5px 15px;
  font-weight: 500;
  border: none;
  transition: all linear 0.3s;
}

.btn:hover {
  background: #017e84;
  color: var(--white-color);
}

.export-btn,
.filter-btn,
.export-btn:focus,
.filter-btn:focus {
  background: #2c3e50;
  color: var(--white-color);
}

.export-btn:hover,
.filter-btn:hover {
  background: #192633;
  color: var(--white-color);
}

.search-btn,
.search-btn:focus {
  background: #dd636e;
  color: var(--white-color);
}

.search-btn:hover {
  background: #d6515c;
}

.import-btn,
.import-btn:focus {
  background: #666666;
  color: var(--white-color);
}

.import-btn:hover {
  background: #3f3f3f;
  color: var(--white-color);
}

.discard-btn,
.discard-btn:focus {
  background: #f8425f;
  color: var(--white-color);
}

.discard-btn:hover {
  background: #f72145;
  color: var(--white-color);
}

.save-btn,
.create-btn,
.save-btn:focus,
.create-btn:focus {
  background: var(--secendary-main-color);
  color: var(--white-color);
}

.create-btn:hover,
.save-btn:hover {
  background: #117fec;
  color: var(--white-color);
}

/*============================= Button pert end  ===========================*/

/*============================== Bootstrap css customaize  start ==============================*/
.row {
  --bs-gutter-x: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.navbar-brand {
  margin-right: 0.5rem;
}

/******************* form pert  ***************/
.form-control {
  background-color: #edf0f4;
  border: none;
  font-size: 12px;
  padding: 10px;
}

.form-control:focus {
  background-color: #edf0f4;
  box-shadow: 0 0 0 2px #0066ff8c;
}
.form-label,
.details-label {
  color: #737b7d;
  font-weight: 500;
  font-size: 13px;
  padding-top: 15px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 1.2;
  color: var(--bs-heading-color);
}

p {
  margin-bottom: 0;
}

/* bootstrap css customaize  end*/

/*============================= Start Navbar Css ===============================*/

.navbar {
  background: var(--main-color);
  color: var(--white-color);
  padding: 0;
}

.navbar_left,
.navbar_right {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.nav-link {
  color: var(--white-color);
  font-family: var(--roboto-slab);
  font-weight: 600;
  font-size: 15px;
  margin: 0 7px;
}

.nav-link:hover {
  color: var(--white-color);
}

.bar .fa-bars {
  font-size: 1.6rem;
  margin: 10px;
}

.navbar_right .bel {
  font-size: 1.8rem;
  position: relative;
  margin: auto;
  margin-right: 10px;
  cursor: pointer;
}

.navbar_right .navbar_bar {
  font-size: 1.6rem;
  margin: auto;
  margin-right: 10px;
  cursor: pointer;
}

.bel::after {
  position: absolute;
  content: "";
  background: red;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  top: 7px;
  right: 0;
  border: 2px solid transparent;
}

.navbar_right .profile-image {
  border-radius: 50%;
  width: 50px;
  height: 3.5rem;
  position: relative;
}

/*=========================== End Navbar Css =============================*/

/*======================= Top item css Start =========================*/
.topbar {
  position: fixed;
  top: 3.4rem;
  left: 0;
  right: 0;
  background: #f4f5f7;
  display: flex;
  justify-content: space-between;
  height: 3rem;
  z-index: 1;
  margin-right: 5px;
}

.tb_title,
.tb_item {
  margin: auto 0;
}

.tb_breadcrump {
  width: 35rem;
}

.tb_item {
  line-height: 3rem;
  width: 100%;
  display: flex;
  justify-content: end;
}

.tb_title {
  width: 18rem;
  text-align: center;
  background: var(--white-color);
  overflow: hidden;
  transition: all linear 0.4s;
  white-space: nowrap;
}

.tb_title_hide {
  width: 0 !important;
}

.tb_title h4 {
  line-height: 3rem;
  color: var(--secendary-main-color);
  font-weight: 600;
  font-size: 1.7rem;
}

.top-item {
  display: flex;
  justify-content: end;
}

.top-item li {
  position: relative;
}

.search-input {
  position: absolute;
  top: 0;
  right: 50px;
  display: none;
}

.search-input input {
  position: relative;
  border-radius: 8px;
  width: 14rem;
  font-size: 0.75rem;
  padding: 0.3rem 0rem 0.3rem 2.4rem;
  border: none;
  color: #6a6a6a;
  height: 2.7rem;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

/********** bread cump  **************/
.breadcrumb {
  margin: auto;
  line-height: 3rem;
  padding-left: 1.2rem;
}
.breadcrumb-item.active,
.breadcrumb-item {
  color: var(--main-color);
  text-decoration: underline;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}
.breadcrumb-item + .breadcrumb-item::before {
  color: var(--main-color);
}

/*================================== Topbar End ============================*/

/*=================== Sidebar  css start  ====================*/
.sidebar {
  transition: all linear 0.3s;
}

.sidebar-icon {
  border-radius: 50%;
  line-height: 2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  font-size: 1rem;
}

.sidebar_text {
  font-size: 1rem;
  text-transform: capitalize;
  color: #2c3e50;
  margin: auto;
  margin-left: 0.75rem;
  width: 11.9rem;
  transition: all linear 0.4s;
}
.sidebar_text_hide {
  width: 0;
  transition: all linear 0.4s;
  overflow: hidden;
}

/* icon background  (it use  for deffrent menu item deffrent color)*/
.sidebar ul li:nth-child(1) .sidebar-icon {
  background: #c5dcfa;
  color: #0f56b3;
}
.sidebar ul li:nth-child(2) .sidebar-icon {
  background: #c5f2c7;
  color: #1f8b24;
}
.sidebar ul li:nth-child(3) .sidebar-icon {
  background: #fbe5c9;
  color: #bf710f;
}
.sidebar ul li:nth-child(4) .sidebar-icon {
  background: #ecb9f9;
  color: #730c8f;
}
.sidebar ul li:nth-child(5) .sidebar-icon {
  background: #ffea80;
  color: #ff8500;
}
.sidebar ul li:nth-child(6) .sidebar-icon {
  background: #d1e3ff;
  color: #337ab7;
}
.sidebar ul li:nth-child(7) .sidebar-icon {
  background: #7cc4d6;
  color: #fbfdff;
}

.sidebar-item a {
  display: flex;
  text-decoration: none;
  padding: 0.75rem;
  padding-right: 2px;
}
.sidebar-item {
  transition: all linear 0.4s;
}

.sidebar-item:hover,
.sidebar .active {
  background: rgba(222, 238, 255, 0.7);
}

/*============================= Sidebar css end  =============================*/

/*======================= Main Start  ==========================*/

.main {
  width: 100%;
  margin-top: 6.5rem;
  position: absolute;
  display: flex;
}

.content {
  background: var(--white-color);
  width: 100%;
  display: flex;
  height: 81vh;
  overflow: auto;
}
.content_section {
  margin: 2%;
}

.table_section {
  width: 100%;
}

/*============================ content css end ================================ */

/*===================== Table css start  ===================*/
table td,
.table-striped > tbody > tr:nth-of-type(2n + 1) > * {
  color: var(--ass-color);
  font-size: 0.75rem;
  vertical-align: middle;
}
table th {
  color: var(--ass-color);
  font-size: 0.75rem;
  font-weight: 600;
}
.w_50 {
  width: 50px;
}

thead {
  position: sticky;
  top: 0;
  background: var(--white-color);
  z-index: 1;
}
th,
td {
  white-space: nowrap;
}

.table_check {
  line-height: 100%;
  width: 3%;
}

.check_box {
  width: 0.9rem;
  height: 0.9rem;
}

.w_3 {
  width: 3%;
}

.table-icon {
  text-align: center;
  color: var(--secendary-main-color);
}
.fa-paperclip,
.fa-pen,
.fa-angle-down {
  color: var(--secendary-main-color);
  cursor: pointer;
}

.action-item {
  font-size: 12px;
  color: rgb(83, 83, 83);
}

.dropdown-toggle {
  background: none;
  border: none;
}

.dropdown-toggle::after {
  border: none;
}
/* table scroll bar vertical */
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 20px;
}

/* table scroll bar horijental */

::-webkit-scrollbar:horizontal {
  height: 3px;
}
::-webkit-scrollbar-track:horizontal {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb:horizontal {
  background-color: var(--main-color);
  border-radius: 20px;
}

/*=================== form css start  ====================*/
.form_section {
  display: flex;
  margin: 2%;
  width: 100%;
}
.form_col {
  width: 33.33%;
  margin: 0 4%;
}

.form_item {
  padding-bottom: 7%;
}
.image-update img {
  border: 1px solid black;
  border-radius: 50%;
  height: 3.43rem;
  width: 3.43rem;
  margin-bottom: 10px;
}
.image-update p {
  color: #737b7d;
  font-size: 13px;
  font-weight: 500;
}
.details-value {
  font-size: 0.9rem;
}

/*==================== Pagination ===================  */
.pagination {
  background: var(--white-color);
  position: fixed;
  bottom: 0px;
  padding: 5px 0;
  margin: 0 auto;
  width: 100%;
}

.pagination ul {
  margin: auto;
}
.pagination ul li {
  display: inline-block;
}

.pagination button {
  border: none;
  background: transparent;
  font-size: 1rem;
  cursor: normal;
  margin: 0 3px;
}
.pagination .next,
.pagination .prev {
  background: var(--main-color);
  color: var(--white-color);
  padding: 3px 13px;
  border-radius: 3px;
}

/*============================ Modal Start  =============================*/

.modal-title {
  color: var(--secendary-main-color);
}

.modal-content .btn-close:focus {
  box-shadow: none;
}

.filter_input {
  margin: 0 1.5rem 2rem;
}

/*============================== Modal End ============================== */

/*============================== Profile card Start ========================= */
.profile_card {
  position: absolute;
  top: 49px;
  right: 10px;
  background: #fff;
  border-radius: 2px;
  padding: 7px 0;
  border: 1px solid #dadce0;
  width: 20rem;
  display: none;
}

.auth_card {
  text-align: center;
  color: #333;
  margin-bottom: 1rem;
}

.auth_card h3 {
  font-size: 18px;
  padding-top: 10px;
}

.pt_15 {
  padding-top: 15px;
}

.sign_out_btn {
  border: 1px solid #dadce0;
  background: transparent;
  padding: 8px 24px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  white-space: normal;
  text-overflow: ellipsis;
}
.sign_out_btn:hover {
  background: rgb(250, 250, 250);
}

.auth_option {
  border-bottom: 1px solid #dadce0;
  transition: all 0.4s;
}
.auth_option:hover {
  background-color: rgb(241, 241, 241);
}
.auth_option:first-child {
  border-top: 1px solid #dadce0;
}
.auth_option_item {
  color: #3c4043;
  letter-spacing: 0.25px;
  font-size: 12px !important;
  text-decoration: none;
  padding: 5px 33px;
}

.auth_option_item:hover {
  color: #3c4043 !important;
}

.auth_option_item i {
  font-size: 12px !important;
  padding-right: 10px;
}
.auth_email {
  font-size: 12px;
}
.auth_img {
  border-radius: 50%;
  border: 1px solid rgb(189, 189, 189);
  width: 50px;
  margin: 0 auto;
}

/*============================== Profile Card End ========================= */
